<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: pageHead(Creazione-Ticket)}">
</head>

<body>
	<!-- Bootstrap Bundle with Popper -->
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
	<header th:insert="~{fragments :: header(admin)}"></header>

	<!--Contenuto Homepage-->
	<section class="content">
		<div class="container myContainer col-lg-10 mt-5">
			<div class="row pt-5 justify-content-center">
				<img th:src="@{/img/TicketPlatform-Logo.png}" alt="" style="width: 100px;" />
			</div>
			<div class="row pt-5 px-5">
				<h6><span style="color:orange;">Creazione</span> Ticket</h6>
				<p class="small-texts">Inserimento nuovo ticket di assistenza.</p>
				<hr style="color: orange;">
			</div>
			<div class="row p-5">
				<div class="col">
					<!--Form inserimento ticket-->
					<form id="ticketForm" th:object="${ticket}"  th:action="${modifica} == true ? @{'/modifica-ticket/'+ ${ticket.getId()}} :
					 @{/crea-ticket}" method="post">
						<!--Titolo-->
						<div class="row mb-3">
							<label for="titolo" class="form-label">Titolo</label>
							<input type="text" class="form-control" id="titolo" th:field="*{titolo}"
								th:errorClass="is-invalid">
							<div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
								<ul>
									<li th:each="err : ${#fields.errors('titolo')}" th:text="${err}"></li>
								</ul>
							</div>
						</div>
						<!--Descrizione-->
						<div class="row mb-5">
							<label for="descrizione" class="form-label">Dettagli del Ticket</label>
							<textarea type="text" class="form-control" id="descrizione" th:field="*{descrizione}"
								th:errorClass="is-invalid" rows="3"></textarea>
							<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
								<ul>
									<li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
								</ul>
							</div>
						</div>
						<div class="row mb-3">
							<!--Select Menu per Categoria Ticket-->
							<div class="col-lg-4 mb-3">
								<label for="categoria">Scegli una Categoria</label>
								<select class="form-select" th:field="*{categoria}" name="categoria" id="categoria">
									<option th:each="categoria : ${categorie}" th:value="${categoria.id}" 
										th:text="${categoria.nome}"></option>
								</select>
								<div th:if="${#fields.hasErrors('categoria')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('categoria')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							<!--Select Menu per Operatori Disponibili-->
							<div class="col-lg-4 mb-3">
								<label for="user">Seleziona un Operatore</label>
								<select class="form-select" th:field="*{user}" id="user">
									<option value="">Nessun Operatore Selezionato</option>
									<option th:each="user : ${operatori}" th:value="${user.id}" th:text="${user.username}"></option>
								</select>
								<div th:if="${#fields.hasErrors('user')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('user')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row py-3">
							<div class="d-grid col-4  mx-auto"><button type="submit" class="btn btn-outline" th:text="${modifica} == true ? 'Aggiorna Modifiche' : 'Inserisci Ticket'"></button>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</section>



	<!--Piè di Pagina-->
	<section>
		<footer th:insert="fragments :: footer(admin)"></footer>
	</section>


</body>

</html>