<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: pageHead(Creazione-Ticket)}">
</head>

<body>
	<!-- Bootstrap Bundle with Popper -->
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
	<header th:insert="~{fragments :: header(admin)}"></header>

	<!--Contenuto-->
	<section class="content">
		<div class="container myContainer col-lg-10 mt-5">
			<div class="row p-5">
				<!--Sezione Info Ticket / Colonna SX-->
				<div class="col-lg-8" th:object="${ticket}">
					<div style="font-style: italic;">Ecco tutte le Informazione del Ticket
						<hr style="color: orange; width: 50%;">
					</div>
					<div class="col mb-5">
						<h6>Data di Inserimento:</h6>
						<p th:text="*{dataCreazione}"></p>
						<h6>Titolo:</h6>
						<p th:text="*{titolo}"></p>
						<h6>Categoria:</h6>
						<p th:text="*{categoria.getNome()}"></p>
						<h6>Descrizione:</h6>
						<p th:text="*{descrizione}"></p>
						<h6>Stato:</h6>
						<p th:text="*{stato.getNome()}"></p>
						<h6>Operatore Assegnato:</h6>
						<p th:text="*{user.getUsername()}"></p>
						<hr style="color: orange;">
						<div sec:authorize="hasAuthority('USER')" th:if="${ticket.stato.getId()} == 2">
							<p class="small-texts">Hai completato la Lavorazione? Aggiorna lo stato del Ticket</p>
							<form class="d-grid col-lg-3" th:action="@{'/tickets/completa/' + ${ticket.id}}"
								method="post">
								<button class="btn btn-outline btn-sm" type="submit"
									onclick="return confirm('Sei sicuro di aver completato il Lavoro?')">
									COMPLETA
								</button>
							</form>
						</div>
						<div sec:authorize="hasAuthority('ADMIN')" class="col-lg-12">
							<div class="col-12">
								<p style="font-style: italic;">Hai bisogno di modificare i dati del Ticket?</p>
							</div>
							<div class="row mt-3">
							<div class="col-lg-4 d-grid">

								<a th:href="@{/modifica-ticket/{id} (id=${ticket.getId()})}"
									class="btn btn-outline">Modifica Dati</a>
							</div>
							<div class="col-lg-4 d-grid">
								<form th:action="@{'/tickets/rimuovi/' + ${ticket.id}}" method="post">
									<button class="btn btn-outline-2" type="submit"
										onclick="return confirm('Sei sicuro di voler eliminare il Ticket di Assistenza?')">
										Elimina
									</button>
								</form>
							</div>
							</div>
						</div>

					</div>
				</div>
				<!--Sezione Annotazioni / Colonna DX-->
				<div class="col-lg-4" th:object="${ticket}">
					<div class="sticky-top">
						<!--Logo-->
						<div class="mb-3 text-center">
							<div class="col mb-3"><img th:src="@{/img/TicketPlatform-Logo.png}" alt=""
									style="width: 100px;" /></div>
							<p class="small-texts">Clicca "Visualizza Note" per visualizzare tutte le annotazione
								rilasciate relative al Ticket</p>

							<!-- Trigger Button Modale -->
							<button type="button" class="btn btn-outline" data-bs-toggle="modal"
								data-bs-target="#staticBackdrop">
								Visualizza le Note
							</button>
						</div>
						<!-- Modal Window -->
						<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
							tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content p-5">
									<div class="modal-header">
										<h1 class="modal-title fs-5 small-texts" id="staticBackdropLabel">Lista
											Annotazioni Lavorazione Ticket</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div th:if="${ticket.note.isEmpty()}">
											<span style="color: firebrick;">Non c'è nessuna annotazione relativa al
												Ticket</span>
										</div>
										<div th:if="${!ticket.note.isEmpty()}" th:each="nota : ${ticket.getNote()}">
											<h6>Data:</h6>
											<p th:text="${nota.dataInserimento}"></p>
											<h6>Autore:</h6>
											<p th:text="${nota.user.getUsername()}"></p>
											<h6>Messaggio:</h6>
											<p th:text="${nota.testo}"></p>
											<hr style="color: orange;">
										</div>
										<!--Aggiungi Note nel Modal-->
										<div class="col">
											<p>Vuoi aggiungire un'Annotazione al Ticket?</p>
											<form id="notaForm" th:action="@{/aggiungi-nota}" th:object="${notaForm}"
												method="post">
												<div class="mb-3">
													<textarea type="text" th:field="*{testo}" id="testo"
														class="form-control">
																		</textarea>
												</div>
												<div class="mb-3">
													<input type="hidden" id="user" th:field="*{user}">
													<input type="hidden" id="ticket" th:field="*{ticket}">
													<button type="submit" class="btn btn-outline"
														onclick="return confirm('Sei sicuro di voler inserire la Nota?')">Aggiungi
														Nota</button>
												</div>
											</form>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary"
											data-bs-dismiss="modal">Chiudi</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row p-5">
				<!--Sezione Elenco Note-->
				<div class="col">

				</div>
			</div>
		</div>
	</section>



	<!--Piè di Pagina-->
	<section>
		<footer th:insert="fragments :: footer(admin)"></footer>
	</section>


</body>

</html>