<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: pageHead(admin)}">
</head>

<body>
	<!-- Bootstrap Bundle with Popper -->
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
	<header th:insert="~{fragments :: header(admin)}"></header>

	<!--Contenuto Homepage-->
	<section class="content p3">
		<div class="container col-lg-10 myContainer" th:object="${operatore}">
			<!--Intestazione Pagina-->
			<div class="row py-5">
				<div class="col">
					<h6>Benvenuto <span style="color: orange;" th:text="*{username}"></span></h6>
					<p class="small-texts">Ecco l'elenco delle tue lavorazioni</p>
					<hr style="color: orange;">
				</div>
			</div>
			<!--Messaggio avviso lista vuota-->
			<div class="row p-5" th:if="${ticketsOperatore.isEmpty()}">
				<div class="col align-items-center text-center"><span style="color: firebrick">Non è presente Nessun
						Ticket in Archivio!</span>
				</div>
			</div>
			<div class="row-justify-content-center">
				<div class="col">

					<table th:if="${!ticketsOperatore.isEmpty()}" th:object="${ticketsOperatore}">
						<thead>
							<tr>
								<th>Id</th>
								<th>Titolo</th>
								<th>Categoria</th>
								<th>Stato</th>
								<th>Info</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>

		</div>
	</section>



	<!--Piè di Pagina-->
	<section>
		<footer th:insert="fragments :: footer(admin)"></footer>
	</section>


</body>

</html>